<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <header><%= title %></header>
    <form method="POST" action="/message/<%= id %>/edit">
      <label for="messageText">Message Text:</label>
      <input type="text" id="messageText" name="messageText" value="<%= message.text %>" required>
      <input type="submit" value="Update" class="update-btn">
    </form>
    <footer><a href="/" class="back-to-home">Back to Home</a></footer>
  </div>
</body>
</html>
